body {
  font-family: sans-serif;
  font-size: 11px;
  background-color: rgba(20, 20, 20, 1);
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-shadow: 1px 1px black;
}

canvas {
  margin: 0;
  padding: 0;
  position: fixed;
}

#controlPanel {
  background-color: rgba(0, 0, 0, .75);
  border-radius: 5px;
  color: rgba(255, 255, 127, 1);
  font-size: 12px;
  left: 10px;
  overflow: hidden;
  padding: 2px;
  position: fixed;
  text-overflow: clip;
  top: 10px;
  transition: opacity 1s ease-in-out;
  user-select: none;
  vertical-align: top;
  width: 20em;
}

#controlHeader {
  color: rgba(0, 255, 127, 1);
  font-size: 13px;
  font-weight: bold;
  text-align: center;
}

.controlRow {
  height: 1.5em;
  margin-top: 1px;
  margin-bottom: 1px;
  width: 100%;
}

.controlCol {
  display: inline-block;
  margin-left: 2px;
  margin-right: 2px;
}

#col0 {
  color: rgba(255, 127, 0, 1);
  font-weight: bold;
  text-align: right;
  width: 4em;
}

#col1 {
  color: white;
  text-align: center;
  width: auto;
}
